.result {
    background-color: blueviolet;
    color: blue;
    font-size: large;
}

button {
    border: 0;
    background-color: chartreuse;
    color: green;
    border-radius: 20px;

}

.counter {
    width: 100px;
    background-color: black;
    color: aliceblue;
}
#counterDiv {
    width: max-content;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

}

#counterValue {
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;

}